:root {
  // --theme: rgba(157, 243, 196, 1);
  //
  --theme: rgba(21, 136, 199, 0.8);

  // --secondary: #ccc;
  // --secondary: rgba(39, 110, 70, 1);
  // --color-theme: #62d2a2;
  // 字体主题色
  --color-theme: rgba(21, 136, 199, 1);
  --color-secondary: #333;
  // 默认字体颜色
  --color-default: #fff;
  // 页面背景颜色
  --bgc-theme: #eff2f9;
  // 左侧导航栏、卡片背景颜色
  --bgc-default: rgba(1, 57, 84, 0.9);
  // --bgc-default: rgba(141, 239, 250, 0.2);
  // --bgc-default: #fff;
  --br-theme: rgba(255, 255, 255, 0.2);
}
/* 声明字体*/
@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}
// 全局样式表
html,
body,
#app {
  // 文字禁止选中
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
  margin: 0;
  padding: 0;
  // min-width: 1366px;
  height: calc(100vw * 9 / 16);
  transition: all 0.6s;
  color: var(--color-secondary);
  // &:not(.exhibit){
  //   height: 100% !important;
  // }
}
html {
  font-size: calc(100vw / 19.2);
}
// 页面右上角列表切换按钮
.listBut {
  position: absolute;
  top: -0.54rem;
  right: 1rem;
  padding: 0.07rem 0.15rem;
  font-size: 0.12rem;
  border-radius: 0.03rem;
}
// 数据弹窗
.tableBox {
  .el-dialog {
    .el-dialog__body {
      height: 87%;
      padding-top: 10px !important;
    }
  }
  .el-card {
    height: 100%;
    box-shadow: none !important;
    .el-card__body {
      padding: 20px 25px !important;
      height: 94%;
      // padding-bottom: 0 !important;
    }
  }
  // 分页定位
  /deep/.el-pagination {
    position: absolute;
    bottom: 24px;
  }
  // 空状态定位
  /deep/.el-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
iframe {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
// ------------------自适应方案--------------
.el-dialog__header {
  height: 0.24rem;
}
.el-dialog__title {
  position: absolute;
}

.el-card__header {
  height: 60px;
}
.clearfix {
  height: 100%;
  // card卡片
  & > div:first-of-type {
    height: 100%;
    // height: 40px;
    // position: relative;
    // top: -72px;
    & > div {
      vertical-align: top;
    }
    & > button {
      vertical-align: top;
    }
  }
}

.el-message__icon {
  font-size: 20px;
}
// -----------------------------------------
.el-dialog__body {
  .el-card {
    background: transparent;
    border-color: transparent;
  }
}
// -----------------------------------------
// 空状态定位
.el-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// 面包屑
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
// 分页
.el-pagination {
  margin-top: 15px;
}
.el-row {
  height: 100%;
}
// 设置动画时间
.el-col {
  height: 100%;
  transition: all 0.6s;
}
// 卡片
.el-card {
  // width: 100%;
  // height: 100%;
  background-color: var(--bgc-default);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15) !important;
  border-color: var(--bgc-default);
  .el-card__header {
    padding: 10px 20px !important;
  }
  .el-card__body {
    position: relative;
    height: 100%;
    box-sizing: border-box;
  }
}
.el-tree {
  background-color: transparent;
}
.el-date-editor .el-range-input {
  color: #6cecff;
}
.el-input .el-input__inner {
  color: #6cecff;
  background-color: rgba(255, 255, 255, 0.05);
}
.el-range-editor {
  background-color: var(--bgc-default);
}
.el-range-editor .el-range-input {
  background-color: var(--bgc-default);
}
.el-table,
.el-table__expanded-cell {
  // background-color: rgba(255, 255, 255, 0) !important;
}
.el-table tr:not(.el-table__row--striped) td.el-table__cell {
  background-color: transparent !important;
}
.el-table th.el-table__cell {
  background-color: var(--bgc-theme) !important;
}
.el-table tr td.el-table__cell {
  background-color: var(--bgc-theme) !important;
}
.el-descriptions .el-descriptions__body {
  background-color: var(--bgc-default) !important;
}
// 解决Cascader 级联选择器 显示高度过高
.el-cascader-panel {
  max-height: 200px;
}
// 步骤条
.el-step {
  margin: 15px 0;
}
.el-step__title {
  font-size: 13px;
}
// 多选框
.el-checkbox {
  margin: 0 10px 0 0 !important;
}
// 多行文本
.ql-editor {
  min-height: 300px;
}
// 对话框
.el-dialog {
  background: #01354f;
}
.el-dialog__title {
  color: #6cecff;
}
.hidden {
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
.text {
  background-image: -webkit-linear-gradient(270deg, #fff, var(--theme));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column {
  flex-flow: column nowrap !important;
}
.card {
  width: 100%;
  border-radius: 4px;
  // background: #013954;
  background: var(--bgc-default);
  border: 1px solid var(--bgc-default);
  overflow: hidden;
  color: #303133;
  transition: 0.3s;
  padding: 0.18rem;
  box-sizing: border-box;
  .title {
    width: 120%;
    font-size: 0.16rem;
    color: aliceblue;
    text-align: center;
    line-height: 0.3rem;
    height: 0.3rem;
    padding-bottom: 0.16rem;
    margin-bottom: 0.14rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
