:root {
  --theme: rgba(21, 136, 199, 0.8);
  --color-theme: #1588c7;
  --color-secondary: #333;
  --color-default: #fff;
  --bgc-theme: #eff2f9;
  --bgc-default: rgba(1, 57, 84, 0.9);
  --br-theme: rgba(255, 255, 255, 0.2);
}
/* 声明字体*/
@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}
#app {
  user-select: none;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: var(--color-secondary);
}
html {
  font-size: calc(100vw / 19.2);
}
.listBut {
  position: absolute;
  top: 0.1rem;
  right: 220px;
  padding: 0.07rem 0.15rem;
  font-size: 0.12rem;
  border-radius: 0.03rem;
  -webkit-app-region: no-drag !important;
}
.tableBox .el-dialog .el-dialog__body {
  height: 87%;
  padding-top: 10px !important;
}
.tableBox .el-card {
  height: 100%;
  box-shadow: none !important;
}
.tableBox .el-card .el-card__body {
  padding: 20px 25px !important;
  height: 94%;
}
.tableBox /deep/ .el-pagination {
  position: absolute;
  bottom: 24px;
}
.tableBox /deep/ .el-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
iframe {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.el-dialog__header {
  height: 0.24rem;
}
.el-dialog__title {
  position: absolute;
}
.el-card__header {
  height: 60px;
}
.clearfix {
  height: 100%;
}
.clearfix > div:first-of-type {
  height: 100%;
}
.clearfix > div:first-of-type > div {
  vertical-align: top;
}
.clearfix > div:first-of-type > button {
  vertical-align: top;
}
.el-time-panel__btn {
  vertical-align: top;
}
.el-message__icon {
  font-size: 20px;
}
.el-dialog__body .el-card {
  background: transparent;
  border-color: transparent;
}
.el-descriptions {
  color: aliceblue !important;
}
.nav.el-tabs .el-tabs__nav {
  margin-left: 8px;
}
.nav.el-tabs .el-tabs__active-bar {
  bottom: 4px;
  padding: 0 4px;
  margin-left: -8px;
  height: 0.3rem;
  padding: 0 8px;
  border-radius: 0.15rem;
  background: rgba(1, 53, 79) !important;
}
.nav.el-tabs .el-tabs__nav {
  height: 0.4rem !important;
}
.nav.el-tabs .el-tabs__item {
  vertical-align: top;
  height: 0.4rem !important;
  line-height: 0.4rem !important;
  z-index: 2;
}
.nav.el-tabs .el-tabs__item.is-active {
  color: #ddd !important;
}
.nav.el-tabs .el-tabs__nav-wrap::after {
  display: none;
}
.nav.el-tabs .el-tabs__content {
  height: calc(100% - 15px - 0.4rem);
}
.card.el-tabs .el-tabs__nav {
  margin-left: 0 !important;
}
.card.el-tabs .el-tabs__active-bar {
  width: 2px !important;
  padding: 0 !important;
  left: auto !important;
  right: 0 !important;
  border-radius: 0 !important;
  background: rgba(255, 255, 255) !important;
}
.card.el-tabs .el-tabs__nav {
  height: 0.4rem !important;
}
.card.el-tabs .el-tabs__item {
  vertical-align: top;
  height: 0.4rem !important;
  line-height: 0.4rem !important;
  z-index: 2;
  color: aliceblue !important;
}
.card.el-tabs .el-tabs__item.is-active {
  color: #6cecff !important;
}
.card.el-tabs .el-tabs__nav-wrap::after {
  display: block !important;
  background: rgba(255, 255, 255, 0.1) !important;
}
.card.el-tabs .el-tabs__content {
  height: 100% !important;
}
.el-tab-pane,
.el-tabs {
  height: 100% !important;
}
.el-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.el-pagination {
  margin-top: 15px;
}
.el-row {
  height: 100%;
}
.el-col {
  height: 100%;
  transition: all 0.6s;
}
.el-card {
  background-color: var(--bgc-default);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15) !important;
  border-color: var(--bgc-default);
}
.el-card .el-card__header {
  padding: 10px 20px !important;
}
.el-card .el-card__body {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.el-tree {
  background-color: transparent;
}
.el-date-editor .el-range-input {
  color: #6cecff;
}
.el-input .el-input__inner {
  color: #6cecff;
  background-color: rgba(255, 255, 255, 0.05);
}
.el-range-editor {
  background-color: var(--bgc-default);
}
.el-range-editor .el-range-input {
  background-color: var(--bgc-default);
}
.el-table::before {
  background: rgba(3, 17, 30) !important;
}
.el-table--border::after {
  background: rgba(3, 17, 30) !important;
}
.el-table,
.el-table__expanded-cell {
  color: #aaa !important;
  background-color: transparent !important;
}
.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
  border-bottom-color: rgba(3, 17, 30) !important;
}
.el-table--border .el-table__cell,
.el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
  border-right-color: rgba(3, 17, 30) !important;
}
.el-table--border {
  border-color: rgba(3, 17, 30) !important;
}
.el-table tr {
  background: rgba(255, 255, 255, 0.05) !important;
}
.el-table tr:not(.el-table__row--striped) td.el-table__cell {
  background-color: transparent !important;
}
.el-table th.el-table__cell {
  background-color: rgba(62, 101, 121) !important;
}
.el-table tr td.el-table__cell {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.el-descriptions .el-descriptions__body {
  background-color: var(--bgc-default) !important;
}
.el-cascader-panel {
  max-height: 200px;
}
.el-step {
  margin: 15px 0;
}
.el-step__title {
  font-size: 13px;
}
.el-checkbox {
  margin: 0 10px 0 0 !important;
}
.ql-editor {
  min-height: 300px;
}
.el-dialog {
  background: #01354f;
}
.el-dialog__title {
  color: #6cecff;
}
.hidden {
  overflow-y: auto;
  overflow-x: hidden;
}
.hidden::-webkit-scrollbar {
  display: none;
}
.text {
  background-image: -webkit-linear-gradient(270deg, #fff, var(--theme));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column {
  flex-flow: column nowrap !important;
}
.card {
  width: 100%;
  border-radius: 4px;
  background: var(--bgc-default);
  border: 1px solid var(--bgc-default);
  overflow: hidden;
  color: #303133;
  transition: 0.3s;
  padding: 0.18rem;
  box-sizing: border-box;
}
.card .title {
  width: 120%;
  font-size: 0.16rem;
  color: aliceblue;
  text-align: center;
  line-height: 0.3rem;
  margin-left: -10%;
  height: 0.3rem;
  padding-bottom: 0.16rem;
  margin-bottom: 0.14rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.card .body {
  width: 100%;
  height: calc(100% - 0.6rem);
}
.textHidden {
  display: -webkit-box;
  /* 将对象作为弹性伸缩盒子模型显示 */
  -webkit-box-orient: vertical;
  /* 设置伸缩盒对象的子元素的排列方式为垂直的 */
  -webkit-line-clamp: 3;
  /* 限制在一个块元素显示的文本的行数 */
  overflow: hidden;
}
.textHidden-single {
  overflow: hidden;
  white-space: nowrap;
  /* 文本不会换行 */
  text-overflow: ellipsis;
  /* 显示省略符号来代表被修剪的文本 */
}
.drag {
  -webkit-app-region: drag;
}
.notDrag {
  -webkit-app-region: no-drag !important;
}
