:root {
  --theme: rgba(21, 136, 199, 0.8);
  --color-theme: #1588c7;
  --color-secondary: #333;
  --color-default: #fff;
  --bgc-theme: #eff2f9;
  --bgc-default: #fff;
  --br-theme: rgba(255, 255, 255, 0);
}
/* 声明字体*/
@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}
html,
body,
#app {
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
  transition: all 0.6s;
  color: var(--color-secondary);
}
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.el-pagination {
  margin-top: 15px;
}
.el-card {
  background-color: var(--bgc-default);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15) !important;
  border-color: var(--bgc-default);
}
.el-card .el-card__header {
  padding: 10px 20px !important;
}
.el-card .el-card__body {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.el-tree {
  background-color: var(--bgc-default);
}
.el-input .el-input__inner {
  background-color: var(--bgc-default);
}
.el-range-editor {
  background-color: var(--bgc-default);
}
.el-range-editor .el-range-input {
  background-color: var(--bgc-default);
}
.el-table tr:not(.el-table__row--striped) td.el-table__cell {
  background-color: var(--bgc-default) !important;
}
.el-table th.el-table__cell {
  background-color: var(--bgc-theme) !important;
}
.el-table tr td.el-table__cell {
  background-color: var(--bgc-theme) !important;
}
.el-descriptions .el-descriptions__body {
  background-color: var(--bgc-default) !important;
}
.el-cascader-panel {
  max-height: 200px;
}
.el-step {
  margin: 15px 0;
}
.el-step__title {
  font-size: 13px;
}
.el-checkbox {
  margin: 0 10px 0 0 !important;
}
.ql-editor {
  min-height: 300px;
}
.hidden {
  overflow-y: auto;
  overflow-x: hidden;
}
.hidden::-webkit-scrollbar {
  display: none;
}
.text {
  background-image: -webkit-linear-gradient(270deg, #fff, var(--theme));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
